* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    background: rgb(243, 243, 243);
    color: rgba(0,0,0,1);
    font-size:13px;
    font-family: Arial, Helvetica, sans-serif;    
}

header {
    background: rgba(255,255,255,1);
    height:60px;
    width:100%;
    box-shadow: 1px 0px 0px 1px rgba(0,0,0,0.05);
    margin-bottom:32px;
}

h1 {
    font-size:32px;
    font-weight: 900;
}

.wrapper {
    width:1200px;
    margin-top:250px;
    margin:auto;
}